.header{
    /* margin-top: 60px; */
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.headerTitleSm{
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.headerTitleLg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.headerImg{
    width: 100%;
    object-fit: cover;
    height: 500px;
}